<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.practice.repository.role.RoleMapper">

    <!--Select Role by Name-->
    <select id="findByRoleName" resultMap="roleResult">
        SELECT
            *
        FROM role
        <where>
            <foreach item="item" index="index" collection="listRole"
                     open="role_name in (" separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </where>

    </select>
    <!--INsert new Role -->
    <insert id="createNewRole" useGeneratedKeys="true"  parameterType = "com.spring.practice.entity.Role">
        INSERT INTO role (
                          role_id
                        , role_name
                        , create_at
        )
        VALUES ( role_id
               , #{roleName}
               ,sysdate()
                )
    </insert>
    <!--Get all Role-->
    <select id="getAllRoles" resultMap="roleResult">
        SELECT
            *
        FROM role
    </select>
    <!--Update Role-->
    <update id="updateRoles" parameterType="com.spring.practice.entity.Role">
        UPDATE role SET
                            role_name = #{roleName},
                            update_at = sysdate()
        WHERE role_id= #{id};
    </update>
    <!--Delete Role-->
    <delete id="deleteRoleById" parameterType="int">
        DELETE from role WHERE role_id = #{id};
    </delete>
    <resultMap id = "roleResult" type = "com.spring.practice.entity.Role">
        <result property = "roleId" column = "id"/>
        <result property = "roleName" column = "role_name"/>
        <result property = "createAt" column = "create_at"/>
        <result property = "updateAt" column = "update_at"/>
    </resultMap>
</mapper>